# Add any directories, files, or patterns you don't want to be tracked by version control
Doc
cookies
bin
bin1
Source_sav_cgmd
tests
*.o
*~
*.cpp.*
*.h.*
runs
fem_modload.sh
*.dat
.svn
*.a
*.mod
*.pbs
*.mat
